<div>
    <a routerLink="/"> << Return to home</a>
    <p>name: {{student.name}}</p>
    <p>groupe: {{student.groupe}}</p>
    <p>email: {{student.email}}</p>
    <p>phone: {{student.telephone}}</p>
    <p>cin: {{student.cin}}</p>
  
  
    <div (change)="handleFilterChange(search.value,groupe.value)" (keyup)="handleFilterChange(search.value,groupe.value)">
      <input type="search" placeholder="enter here to search" #search >
    <select #groupe>
      <option value="">All</option>
      <option *ngFor="let subject of subjects" value={{subject}}>
        {{subject}}
      </option>
    </select>
    </div>
  
    <table>
      <tr>
        <th>CIN</th>
        <th>name</th>
        <th>subject</th>
        <th>email</th>
        <th>phone</th>
        <th>studentCount</th>
      </tr>
      <tr *ngFor="let professor of filtered">
        <td>{{professor.cin}}</td>
        <td><a routerLink="{{'/student/'+professor.id}}">{{professor.name}}</a></td>
        <td>{{professor.subject}}</td>
        <td>{{professor.email}}</td>
        <td>{{professor.telephone}}</td>
        <td>{{professor.professors.length}}</td>
      </tr>
    </table>
  </div>
  