<div>
  <form #professorForm="ngForm" (ngSubmit)="onSubmit(professorForm)">
    <input type="text" name="name" [(ngModel)]="professor.name"/>
    <label for="name"> Full name</label>
    <br /><br />
    <input type="text" name="cin" [(ngModel)]="professor.cin"/>
    <label for="cin"> CIN</label>
    <br /><br />
    <input type="text" name="email"  [(ngModel)]="professor.email"/>
    <label for="email"> E-mail</label>
    <br /><br />
    <input type="text" name="telephone"  [(ngModel)]="professor.telephone"/>
    <label for="telephone"> Phone</label>
    <br /><br />
    <input type="text" name="subject"  [(ngModel)]="professor.subject"/>
    <label for="subject"> Subject</label>
    <br /><br />
    <input type="submit" value="add">
    <br /><br />
  </form>
</div>
